<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SegmentedControl2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4C129F525DA52C500294C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4C12A0925DA52C500294C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4C12A1425DA52C500294C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
